/* HEADER/BANNER */

.spurs-nation-header {
    margin-bottom: 2em;
}
.en-share {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: .25em;
    padding-top: .25em;
}
.en-share .logo {
    flex-basis: 30%;
}
.logo img {
    width: 100%;
}
.en-share .share {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 60%;
}
.share button,
.share img {
    height: 30px;
}
.share button {
    background: #ba141a;
    border-color: #84141A;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    flex-basis: 20%;
    margin-top: auto;
    padding: .25em;
    border-style: solid;
}
.share img {
    align-self: flex-end;
    flex-basis: 15%;
}
.title-logo {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("https://s3.amazonaws.com/projects.expressnews.com/spurs-nation/img/manu-cropped.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    /* font-family: Rockwell Extra Bold, Rockwell Bold, monospace; */
    
    height: 25vh;
    position: relative;
}
.title-logo h3,
.title-logo p {
    margin: 0;
    padding-left: 1.5vw;
}
.title-logo h3 {
    font-family: 
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: .8vh;
}
.title-logo .title {
    flex-basis: 80%;
    padding-bottom: 5vh;
}
.title-logo .logo {
    bottom: 0;
    position: absolute;
    right: 0;
}
.title-logo img {
    max-height: 5em;
    padding-right: 1vw;
}
.spurs-nation-header .title-logo {
    height: 35vh;
}
/* MAIN SECTION/FRAMEWORK */
/* The main site section */

section {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    width: 85%;
}
/* Each of the three subsections is split into a zone */

.sn-zone {
    width: 100%;
}
.sn-zone > div {
    padding-bottom: 3vh;
    margin: 1vh 0;
    clear: both;
}
.sn-zone > div:not(:last-of-type) {
    border-bottom: 1px solid gray;
}
/* STORY STYLING */

div.collection {
    /* overflow: auto; */
}
h2.headline,
h3.headline {
    color: #0a0a0a;
    font-size: 1em;
    letter-spacing: normal;
    text-transform: none;
    line-height: normal;
}
h2.headline a,
h2.headline a:visited,
h3.headline a,
h3.headline a:visited {
    color: inherit;
    text-decoration: none;
}
p.byline {
    color: #0a0a0a;
    font-weight: bold;
}
p.blurb {
    color: #2d2d2d;
    line-height: 1.2;
}
.byline a {
    text-decoration: none;
    color: inherit;
}
.headline {
    clear: both;
}
/* story photos */

a.without_u img,
.single-img-wrapper img {
    width: 100%;
}
a.without_u img,
.single-img-wrapper img {
    /*! float: left; */
    display: inline;
    margin-right: 5%;
    /* margin-bottom: 1em; */
}
.illo {
    /* overflow: auto; */
}
.item.first.single {
    /* Make refer collection photos fit within the div so the border looks right */
    
    overflow-y: auto;
    overflow-x: hidden;
    /*   So we can bring refers right below story chatter */
    
    display: inline;
}
.headline.display-below {
    display: none;
}
.kicker-link a {
    color: gray;
    text-decoration: none;
}

/* Stories in non-refer collections */
.sec-hl-item{
    margin: 1em 0;
}
/* Refers */

.item.rel-links {
    font-size: 80%;
}
.item.rel-links a {
    color: inherit;
    text-decoration: none;
}
.item.rel-links h4 {
    margin: .5em 0;
}
.item.rel-links h4:before {
    content: '>>'
}
/* AUTHOR BOX */

.author-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    color: #0a0a0a;
    font-weight: bold;
}
.author {
    flex-basis: 25%;
    margin: 1em 0;
}
.author-container figcaption {
    display: none;
}
.author img {
    border-radius: 50%;
    height: auto;
    max-width: 100%;
}
/* SCHEDULE BOX */

.spurs-schedule table {
    border: 1px solid gray;
    text-align: center;
}
.spurs-schedule table td {
    border: 1px solid gray;
    padding: .5em;
}
.spurs-schedule table .shsTableTtlRow {
    background: #c0c0c0;
}
.spurs-schedule table .shsTableTtlRow td {
    font-weight: bold;
    text-transform: uppercase;
}
.spurs-schedule table tr:not(.shsTableTtlRow) {
    background: #f8f8f8;
}
.spurs-schedule table .shsTimezone:not(.shsCTZone) {
    display: none;
}
.spurs-schedule > div {
    width: 75%;
    margin: 0 auto;
}
.spurs-schedule table {
    width: 100%;
}
/* STATS BOX */

.spurs-stats table {
    border: 1px solid gray;
    text-align: center;
    width: 100%;
}
.spurs-stats td {
    border: 1px solid gray;
    padding: .5em;
}
.spurs-stats .shsTableTtlRow {
    background: #c0c0c0;
}
.spurs-stats .shsTableTtlRow td {
    font-weight: bold;
    text-transform: uppercase;
}
.spurs-stats tr:not(.shsTableTtlRow) {
    background: #f8f8f8;
}
.spurs-stats .shsTimezone:not(.shsCTZone) {
    display: none;
}


/* Slideshow */

div.sp-centerpiece {
    margin: 0;
}


/* FOOTER */

footer {
    background: #000;
    color: #fff;
    float: left;
    font-size: 14px;
    line-height: 19px;
    padding: 36px 18px;
    width: calc(100% - 36px);
}
footer .logo {
    background: url("http://www.expressnews.com/img/logo.svg");
    background-position: 0 -43px;
    background-size: 213px 64px;
    display: block;
    height: 21px;
    width: 213px;
}
footer ul {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer ul li {
    display: inline;
}
footer ul li:nth-of-type(even):after {
    content: "\A";
    white-space: pre;
}
footer ul li a {
    color: #fff;
    display: inline-block;
    margin: 12px 16px 0 0;
    text-decoration: none;
}
footer ul li a:hover,
footer ul li a:link,
footer ul li a:visited {
    color: #fff;
}
footer ul li span {
    color: #fff;
    display: inline-block;
    margin: 12px 16px 0 0;
}


@media (max-width: 499px) {
    .spurs-stats {
        display: none;
    }
}
@media (min-width: 500px) {
    .en-share .logo {
        display: flex;
        flex-basis: 50%;
    }
    .en-share .share {
        flex-basis: 45%;
    }
}

@media (max-width: 410px){

    .en-share .logo{
        display: flex;
        flex-basis: 65%;
    }

    .en-share .share{
        flex-basis: 30%;
    }

    .share img{
        display: none;
    }
}

@media (min-width: 410px) and (max-width: 500px) {
    .en-share .logo {
        display: flex;
        flex-basis: 50%;
    }
    .en-share .share {
        flex-basis: 45%;
    }
}
@media (min-width: 550px) {
    .share button,
    .share img {
        height: 35px;
    }
}
@media (min-width: 600px) {
    .title-logo h3 {
        font-size: 1.75em;
    }
    .title-logo img {
        max-height: 6em;
        padding-right: 1vw;
    }
}
@media (min-width: 640px) {
    .en-share .share {
        flex-basis: 35%;
    }
    .author{
        flex-basis: 20%;
    }
}

@media (min-width: 700px) {
    .share button,
    .share img {
        height: 40px;
    }
}
@media (min-width: 800px) {
    .en-share .share {
        flex-basis: 25%;
    }
    .title-logo {
        height: 30vh;
    }
    .title-logo h3 {
        font-size: 2em;
    }
    .title-logo img {
        max-height: 7em;
        padding-right: 1vw;
    }
    .author{
        flex-basis: 17%;
    }
}


            @media(min-width:950px){
                .author{
                flex-basis: 15%;
                }
            }
@media (min-width: 1000px) {
    .title-logo h3 {
        font-size: 2.75em;
    }
    .title-logo img {
        max-height: 8em;
        padding-right: 1em;
    }
}
@media (max-width: 1023px) {
    .zone-b {
        order: 1;
    }
    .zone-c {
        order: 2;
    }
    .zone-a {
        order: 3;
    }
}
@media(min-width: 1024px) and (max-width: 1279px) {
    section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%;
    }
    .zone-a {
        display: flex;
        flex-basis: 100%;
        flex-flow: row nowrap;
        justify-content: space-around;
        order: 3;
    }
    
    .zone-a .item img{
        width: 60%;
    }
    .zone-a > div:nth-of-type(1) {
        order: 3;
    }
    .zone-a > div:first-child {
        display: none;
    }
    .zone-a > div:nth-of-type(2) {
        order: 4;
        display: none;
    }
    .zone-a > div:nth-of-type(3) {
        order: 1;
        flex-basis: 40%;
    }
    .zone-a > div:nth-of-type(4) {
        order: 2;
        flex-basis: 40%;
    }
    .zone-b {
        flex-basis: 60%;
        order: 1;
    }
    .zone-c {
        flex-basis: 30%;
        order: 2;
    }
}
@media(min-width: 1024px) {
    .spurs-nation-header .en-share .logo {
        flex-basis: 35%;
    }
    .shsTable td:nth-of-type(3n) {
        display: none;
    }
    .shsTable td {
        padding: .25em;
    }
    .author {
        flex-basis: 15%;
    }
    .author-container figcaption {
    display: block;
        text-align: center;
        font-size: 80%
}
}
@media(min-width: 1280px) {
    .en-share .logo {
        flex-basis: 30%;
    }
    section {
        flex-flow: row nowrap;
    }
    .zone-a {
        flex-basis: 25%;
    }
    .zone-b {
        flex-basis: 45%;
    }
    .zone-b > div,
    .zone-a > div,
    .zone-c > div {
        width: 90%;
        margin: 0 auto;
    }
    
    .zone-b .without_u img{
        float: left;
        width: 50%;
    }
    
    .zone-b .blurb{
        margin-top: 1em;
    }
    
    .zone-b .headline{
        display:inline;
/*         float: right; */
    }
    .zone-b .sec-hl-item{
        overflow: auto;
    }
    .zone-c {
        flex-basis: 25%;
    }
    .author {
        flex-basis: 18%
    }
}

@media (min-width: 48.000rem) {
    footer {
        padding: 30px 25px;
        width: calc(100% - 50px);
    }
    footer ul li:nth-of-type(even):after {
        content: none;
    }
}
